/* ----------- CSS reset (make styles look the same in every browser) ----------- */

html{color:#000;background:white;}
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,figure{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}
li{list-style:none;}
caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
blockquote:before,blockquote:after,q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{*font-size:100%;}
legend{color:#000;}
a img {border:none;}
blockquote,q{quotes:none;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main{display:block;}

/* ----------- Clear and Spacing ----------- */

.clear {
	margin: 0 0 -1px 0;
	line-height: 1px;
	display: block;
	font-size: 1px;
	clear: both;
	height: 1px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	line-height: 0;
	content: " ";
	clear: both;	
	height: 0;
}
* html .clearfix {
	zoom: 1;
}
*:first-child+html .clearfix {
	zoom: 1;
}


/* ----------- Font styles ----------- */

html, 
body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	line-height: 1;
}
h1 {
	font-size: 32px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 20px;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 16px;
}
h6 {
	font-size: 14px;
	font-weight: bold;
}
p {
	font-size: 14px;
	margin-bottom: 14px;
}
b, strong {
	font-weight: bold;
}
a {
	color: #888;
	text-decoration: underline;
	outline: none;
}
a:hover, a:focus {
	color: #000;
	text-decoration: underline;
}
ul {
	margin: 0;
	padding: 0;
}
ul li {
	margin: 0;
	padding: 0;
	list-style: disc;
}
ol {
	margin: 0;
	padding: 0;
}
ol li {
	margin: 0;
	padding: 0;
	list-style: decimal;
}


/* ----------- Global styles ----------- */
